.navCont{
    height: 65px;
    background-color: #1e1e1e;
    padding: 0 45px;

    display: flex;
    justify-content: end;
    align-items: center;

    .navLinksCont{
        margin-right: auto;
        display: flex;

        .navLinks{
            gap: 40px;

            display: flex;
            align-items: center;

            .navLinks-li{
                height: 100%;

                .navLinks-a{
                    height: 100%;
                    color: white;
                    font-size: 15px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                }
                .navLinks-a:hover {
                    border-bottom: 2px solid #ffffff;
                
                }
            }
        }
    }

        // BUSCADOR //
        .buscadorCont{
            width: 0;
            height: 30px;
            background-color: #3a3a3a;
            border-radius: 5px;
            display: flex;
            align-items: center;
    
            overflow: hidden; 
            transition: width 0.5s ease-in-out;
    
            &.visible {
                width: 30%; 
              }
    
                .inputSearch{
                    display: block;
                    width: 95%;
                    color: white;
                    margin: 0px 7px;
                    background-color: #3a3a3a;
                    font-size: 15px;
                }
        }
}