.contQuienesSomos{
    padding: 0 25px ;
    padding-top: 50px;
    color: white;

    .titleQS{
        margin-top: 25px;
        color: white;
        font-size: 26px;
    }

    .imgQS{
        margin: 28px 0;
        width: 100%;
    }

    .textQS{
        margin-bottom: 25px;
    }

}